<a href="https://colab.research.google.com/github/sumardikawaisnawa/data_analyticst/blob/main/tugasdataanalyticts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"
# /content/gdrive/My Drive/Kaggle is the path where kaggle.json is present in the Google Drive

In [12]:
#changing the working directory
%cd /content/gdrive/My Drive/Kaggle
#Check the present working directory using pwd command

/content/gdrive/My Drive/Kaggle

In [13]:
!kaggle datasets download -d anandaramg/nba-players-according-to-raptor

Downloading nba-players-according-to-raptor.zip to /content/gdrive/My Drive/Kaggle
 94% 182M/194M [00:01<00:00, 134MB/s]
100% 194M/194M [00:01<00:00, 126MB/s]

In [14]:
!ls

kaggle.json  nba-players-according-to-raptor.zip

In [15]:
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

Archive:  nba-players-according-to-raptor.zip
  inflating: test.csv
  inflating: train.csv

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv(r'train.csv')

In [18]:
df.head()

,Unnamed: 0,player_name_x,player_id,season_x,poss_x,mp_x,raptor_offense_x,raptor_defense_x,raptor_total_x,war_total_x,...,raptor_offense,raptor_defense,raptor_total,war_total,war_reg_season,war_playoffs,predator_offense,predator_defense,predator_total,pace_impact
0,250936,LeBron James,jamesle01,2005,6404,3388,5.094678,1.423964,6.518643,15.950430,...,5.471714,5.083207,10.554920,5.687281,0.000000,5.687281,7.235016,4.919774,12.154790,-1.116811
1,169984,Tim Hardaway Jr.,hardati02,2015,3293,1681,0.398182,-4.140493,-3.742311,-0.848563,...,2.396407,-0.684238,1.712169,4.932031,4.932031,0.000000,1.545365,-0.974167,0.571198,0.564837
2,368525,Kelly Olynyk,olynyke01,2014,2827,1400,-0.011112,-1.190292,-1.201404,1.115040,...,0.765556,2.055455,2.821011,4.097369,4.097369,0.000000,1.199591,2.039951,3.239542,1.250263
3,349205,Donovan Mitchell,mitchdo01,2018,6206,3049,1.400427,0.667928,2.068355,7.569662,...,12.207292,-0.874714,11.332578,1.937891,0.000000,1.937891,6.801913,-2.146641,4.655271,-0.935032
4,209136,Justin Holiday,holidju01,2017,3346,1639,-0.659091,0.567136,-0.091955,2.229012,...,-1.845026,1.489583,-0.355443,0.808474,0.808474,0.000000,-1.082915,1.426378,0.343463,0.694742

Warning: Total number of columns (96) exceeds max_columns (20) limiting to first (20) columns.