<a href="https://colab.research.google.com/github/sumardikawaisnawa/data_analyticst/blob/main/UAS_DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"
# /content/gdrive/My Drive/Kaggle is the path where kaggle.json is present in the Google Drive

In [3]:
#changing the working directory
%cd /content/gdrive/My Drive/Kaggle
#Check the present working directory using pwd command

/content/gdrive/My Drive/Kaggle

In [29]:
!kaggle datasets download -d parisrohan/credit-score-classification

Downloading credit-score-classification.zip to /content/gdrive/My Drive/Kaggle
 53% 5.00M/9.51M [00:00<00:00, 43.8MB/s]
100% 9.51M/9.51M [00:00<00:00, 67.9MB/s]

In [30]:
!ls

basic1.csv
basic2.csv
basic3.csv
basic4.csv
basic5.csv
blob.csv
box.csv
boxes2.csv
boxes3.csv
boxes.csv
chrome.csv
credit-score-classification.zip
dart2.csv
dart.csv
face.csv
hyperplane.csv
isolation.csv
kaggle_Interests_group.csv
kaggle.json
k-means-clustering.ipynb
lines2.csv
lines.csv
network.csv
outliers.csv
ring.csv
sparse.csv
spiral2.csv
spiral.csv
spirals.csv
starter-clustering-categorical-peoples-b3eedbef-c.ipynb
supernova.csv
triangle.csv
un2.csv
un.csv
wave.csv

In [31]:
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

Archive:  credit-score-classification.zip
  inflating: test.csv
  inflating: train.csv

In [32]:
import pandas as pd

In [37]:
df = pd.read_csv(r'test.csv')

In [38]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923